import(limma)
import(gprofiler2)
import(ggplot2)
import(ggrepel)
import(DT)
import(htmlwidgets)
import(org.Hs.eg.db)
import(ComplexHeatmap)
import(msigdbr)
import(fgsea)
import(rjson)
import(magrittr)
import(data.table)
import(igraph)
import(NormExpression)
import(ggord)


exportPattern("^[[:alpha:]]+")
export(nonzeroRatio2AUCVC)
export(gridAUCVC)
export(normfactors)
export(toxPCA)

export(diffexp)
export(volanno)
export(IntTab)
export(orthconvert)
export(gofact)
export(gseafc)
export(plotgsea)
export(ESheatmap)
export(netmoa)
export(netplot)


